body {
    margin: 0 auto; 
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    /*width: 1400px;*/
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    text-align: center;
    color: #ee8012;
    vertical-align: middle;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 34px;
    cursor: pointer;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: no-wrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
    
    
}

.main-header {
    width: 100%; 
    margin: 0 auto;
    background-color: #ee8012;
    
    color: #ffffff;
    position: fixed;
    top: 0;
    
    z-index: 100;
   
    
}

.main-header a {
    color: #ffffff;
}



.main-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}

.main-navigation ul,
.features-list,
.services-list,
.partners-list,
.gallery-list,
.footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation img {
    display: block;
    /*margin-right: 50px;*/
}

.navigation-list {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    
}

.navigation-list a {
    display: block;
    padding: 27px 25px;
}

.navigation-list a:hover,
.navigation-list a:focus {
    background-color:#C76B0F;
}

.navigation-list a:active {
    opacity: 0.5;
}

.navigation-contacts {
    color: #000000;
}

.contacts-phone {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    position: relative;
} 

.contacts-phone::before {
    content: url(../img/telephone.svg);
    position: absolute;
    top: 7px;
    left: -30px;
}

.contacts-mail a:hover,
.contacts-mail a:focus {
    color: #cccccc;
}

.main-page {
    margin-top: 107px;
}

.promo {
    /*width: 1400px;*/
    min-height: 600px;
    margin: 0 auto;
    background-color: #cccccc;
    background-image: url(../img/slm_banner_1_4.jpg);
    background-size: 1400px 600px;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.promo h2,
.partners h2,
.gallery h2 {
    margin: 0;
    padding: 0;
}

.promo-info {
    width: 277px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.8;
    font-size: 25px;
    line-height: 35px;
    padding: 30px 25px;
}

.promo-info h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.promo-info p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: #ee8012;
}

.features {
    /*width: 1400px;*/
    margin: 0 auto;
    margin-bottom: 30px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-list b {
    color: #ee8012;
    font-size: 25px;
    line-height: 35px;
    
}

/* .features-list .accuracy::before { 
    content: url(../img/target.svg);
    position: absolute;
    top: 35px;
    left: 130px;
}*/

.accuracy {
    background-image: url(../img/target.svg),
     linear-gradient(60deg, #ffffff 15%, #cccccc 15%);
    background-repeat: no-repeat;
    background-position: 100px 35px, 0 0;
    
}

.prices {
    background-image: url(../img/piggy-bank.svg),
     linear-gradient(60deg, #ffffff 15%, #cccccc 15%);
    background-repeat: no-repeat;
    background-position: 100px 35px, 0 0;
}

.quality {
    background-image: url(../img/hand.svg),
     linear-gradient(60deg, #ffffff 15%, #cccccc 15%);
    background-repeat: no-repeat;
    background-position: 100px 35px, 0 0;
}

.time {
    background-image: url(../img/time.svg),
     linear-gradient(60deg, #ffffff 15%, #cccccc 15%);
    background-repeat: no-repeat;
    background-position: 100px 35px, 0 0;
}

/*.features-list .prices::before {
    content: url(../img/piggy-bank.svg);
    position: absolute;
    top: 35px;
    left: 130px;

}

.features-list .quality::before {
    content: url(../img/hand.svg);
    position: absolute;
    top: 35px;
    left: 130px;
}

.features-list .time::before {
    content: url(../img/time.svg);
    position: absolute;
    top: 35px;
    left: 130px;

}*/



.features-list li {
    width: 570px;
    background-color: #cccccc;
    /* background-image: linear-gradient(45deg, #ffffff 22%, #cccccc 22%); */
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px 20px 30px 200px;
    text-align: right;
    position: relative;
}

.features-list li:nth-child(2n) {
    margin-right: 0;
}

.features-list li:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.services {
    /*width: 1400px;*/
    background-color: #ee8012;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px 0;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.services-list b {
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
    
}

.services-list p {
    color:#ffffff;
}

.services-list li {
    width: 365px;
    height: 440px;
    background-color: #ffffff;
    /*background-image: url(../img/kitchen-small.jpg);*/
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 365px auto;
    text-align: center;
    /*padding: 30px 20px;*/
    /*margin-bottom: 20px;*/
    position: relative;
    overflow: hidden;
}

.kitchen {
    background-image: url(../img/kitchen-small.jpg);
}

.coupe {
    background-image: url(../img/shkaf_kupe_2.jpg);
}

.furniture {
    background-image: url(../img/corpus.jpg);
}

.services-list li:last-child(n+3) {
    margin-bottom: 0;
}

.services-item:hover .services-info {
    animation: slide  0.5s linear;
    animation-fill-mode: forwards;
}

.services-item:hover .slide-button {
    animation: slide-button 0.8s linear;
    animation-fill-mode: forwards;
}

@keyframes slide {
    100% {transform: translateY(-300px);}
}

@keyframes slide-button {
    0% {transform: translateY(300px);}
    100% {transform: translateY(0);}
}

.services-info {
    width: 325px;
    min-height: 150px;
    background-color: #cccccc;
    opacity: 0.9;
    position: absolute;
    left: 0;
    bottom: -300px;
    padding: 30px 20px;
    /*z-index: -1;*/
   
}

.services-info p {
    margin-bottom: 30px;
    color: #000000;
}


.services-list .button {
    color: #ffffff;
    background-color: #ee8012;
}

.services-info .button:hover,
.services-info .button:focus {
    background-color: #C76B0F;
}

.services-info .button:active {
    opacity: 0.5;
}



.partners {
    /*width: 1400px;*/
    margin: 0 auto;
    /*margin-bottom: 30px;*/
    background-image: url(../img/wood-texture_\(8\).jpg);
    background-position: 0 0;
    background-repeat: repeat;
    padding-bottom: 60px;
    padding-top: 30px;
    
    
}

.partners h2 {
    text-align:center;
    font-size: 25px;
    line-height: 35px;
    color: #cccccc;
    margin-bottom: 30px;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners-list a {
    width: 200px;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #ee8012;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.partners-list a:hover,
.partners li a:focus {
    opacity: 1;
}



.scheme {
    /*width: 1400px;*/
    margin: 0 auto;
    background-color: #cccccc;
    padding: 30px 0;
}

.scheme h2 {
    margin: 0;
    padding: 0;
}

.scheme-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




.scheme-wrapper img {
    margin-left: auto;
}

.scheme-list {
    counter-reset:li; /* Инициализируем счетчик */
    padding:0;
    margin: 0; /* Удаляем  установленное по умолчанию левое поле*/
    list-style:none; /* Отменяем нумерацию установленную по умолчанию */
    width: 530px;
    
}

.scheme-list li {
    position:relative; /* Создаем контекст для позиционирования элементов */
    
    margin-left: 70px;
}

.scheme-list li::before {
    content:counter(li); /* В качестве данных используем счетчик */
    counter-increment:li; /* Увеличиваем значение счетчика на 1 */
    position:absolute;
    top:-7px;
    left: -70px;
    width:2em;
    color: #ee8012;
    font-size: 25px;
    line-height: 35px;
    font-weight:bold;
    text-align:center;
    border: 1px solid #ee8012;
}

.scheme h2 {
    color: #ffffff;
    font-size: 25px;
    line-height: 35px;
}

.gallery {
    /*width: 1400px;*/
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px 0;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-list li {
    width: 257px;
    height: 350px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gallery-list li:hover,
.gallery-list li:focus {
    box-shadow: 5px 5px 10px #000000;
    
}

.gallery-list li:hover a {
    animation: scale 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes scale {
    100% {transform:scale(1.2);}
}

.gallery-list li:active {
    opacity: 0.8;
}



.gallery h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
    
    color: #ee8012;
}

footer {
    background-color: #000000;
    
}

.main-footer .footer-contacts {
    color: #ffffff;
    list-style: none;
    margin: 0;
    
}

.main-footer .footer-contacts li {
    padding: 0 50px 0 0;
}

footer a {
    color: #ee8012;
}

footer a:hover,
footer a:focus {
    color: #cccccc;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-top: 20px;
}

.footer-navigation {
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.request-link {
    width: 200px;
    height: 40px;
    background-color: #ee8012;
    box-shadow: 0 0 10px #000000; 
    color:#ffffff;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    transform: rotate(-90deg);
    position: fixed;
    right: -90px;
    top: 300px;
    z-index: 20;
}

.request-link:hover,
.request-link:focus {
    background-color: #C76B0F;
}

.request-link:active {
    opacity: 0.8;
}

